@forward "variables";
// @forward "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: rgb(29, 31, 49);
}

body {
  background: rgb(250, 241, 228);
  color: rgb(29, 31, 49);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.action {
  padding: 0.7rem;
}

.primary {
  background: rgb(11, 71, 128);
  border-radius: 1000px;
  a {
    color: rgb(255, 255, 255) !important;
  }
}
.secondary {
}
