<nav class="navbar">
  <div class="logo">
    <a href="/"><p>OGUBUIKE EMEJURU</p></a>
  </div>
  <ul class="links">
    <li><a href="/">Blogs</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
    <!-- <li><a href="/about">About</a></li> -->
  </ul>
</nav>
