<nav>
  <h1><a href="/">OGUBUIKE EMEJURU</a></h1>
  <ul>
    <% if (user) { %>
    <li>Welcome, <%= user.nickname %></li>
    <li><a href="/api/v1/user/logout">Log out</a></li>
    <% } else { %>
    <li><a href="/api/v1/user/login">Log in</a></li>
    <li><a href="/api/v1/user/signup" class="btn">Sign up</a></li>
    <% } %>
  </ul>
</nav>
