<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <form data-url="<%= LOGIN_USER_URL %>">
      <h2>Login</h2>
      <label for="email">Email</label>
      <input type="text" name="email" />
      <div class="email error"></div>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <div class="password error"></div>

      <button>login</button>
    </form>

    <%- include('partials/footer'); -%>

    <script src="/js/loginScript.js"></script>
  </body>
</html>
