/* Define the animation */
@keyframes borderAnimation {
  0% {
    border-color: darkslategrey;
  }
  50% {
    border-color: #110d0d; /* Change to your desired border color */
  }
  100% {
    border-color: darkslategrey;
  }
}

/* HEADER */

header {
  // margin: 2rem;
  padding: 1rem;
  border-bottom: 2px solid rgb(24, 24, 24);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background: rgb(17, 17, 17);

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;

      li {
        padding: 0.4em;
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
          border-bottom: 1px solid rgb(250, 241, 228);
        }

        a {
          color: rgb(250, 241, 228);
        }
      }

      .nav-logo,
      .nav-constant,
      .nav-action {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        span {
          color: rgb(11, 71, 128);
          font-size: 35px;
          border: none;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-weight: 900;
        }
      }
      .nav-constant {
        border: 1px solid darkslategrey;
        transition: border-color 0.5s; /* Add the transition property */

        animation: borderAnimation 10s infinite; /* Add the animation property */

        li {
          padding: 0 1em;
          &:not(:nth-child(2)) {
            border-right: 1px solid darkslategrey;
            border-radius: 0;
          }
        }
      }

      .nav-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        .primary {
          margin-left: 2rem;
        }
      }
    }
  }

  @media only screen and (max-width: 699px) {
    nav ul div:not(.nav-logo, .hamburger) {
      display: none;
    }
  }
  @media only screen and (min-width: 700px) {
    nav ul {
      .hamburger {
        display: none;
      }
    }
  }
}
