/*  ALL BLOGS VIEW */

.blogs__container {
  max-width: 90%;
  margin: auto;
  .hero {
    margin-bottom: 2rem;

    .content {
      h1 {
        font-size: 50px;
        text-align: center;
      }
    }
  }
  .blog {
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
      padding: 0.5rem;
    }

    .details {
      max-width: 450px;
      width: 350px;
      display: grid;
      grid-template-rows: 200px repeat(4, 50px);
      background: rgb(255, 255, 255);
      border: 1px dashed rgb(201, 201, 201);
      border-radius: 10px;
      gap: 0.2rem;

      .title {
        h2 {
          font-size: 1rem;
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 10px 2px 20px rgba(188, 188, 192, 0.8);
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-self: baseline;
        height: 100%;
      }

      .blog-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
          font-size: 14px;

          img {
            height: 30px;
            width: 30px;
            border: 1px solid black;
            border-radius: 1000px;
            object-fit: cover;
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.3rem;

            width: 150px;

            p {
              font-size: 15px;
              font-weight: 900;
              font-family: monospace;
            }
            span {
              font-size: 10px;
              font-weight: 900;
              text-align: center;
              display: flex;
              font-family: monospace;
            }
          }
        }

        span {
          font-size: 10px;
          color: rgb(63, 65, 80);
        }
      }

      .read-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;

        button {
          padding: 0.4rem;
          outline: none;
          border: none;
          width: 50px;
          border-radius: 10px;
          cursor: pointer;
          background: rgb(73, 70, 255);
          color: whitesmoke;

          &:hover {
            background: rgb(46, 43, 204);
          }
        }
      }

      .category span {
        display: grid;
        place-items: center;
        background: rgba(0, 0, 0, 0.253);
        padding: 0.1rem;
        border-radius: 2000px;
        font-size: 9px;
        font-weight: 900;
        width: 100px;
      }
    }
  }
}
