<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <h1>BLOG</h1>
    </main>
    <%- include('./partials/footer'); -%>
  </body>
</html>
