<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <section class="hero">
      <div class="content">
        <h3>The Blog</h3>
        <h1>Writings From GUBI</h1>
        <h6>The Latest Industry News, Technologies and Resources</h6>
      </div>

      <div class="featured"></div>
    </section>
    <main class="home"><%- include("./blog/posts/featured/index.ejs") %></main>

    <%- include('./partials/footer'); -%>
  </body>
</html>
