* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

body {
  color: #222;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  max-width: 100%;
}

.action {
  border: 2px solid black;
  padding: 0.1rem;
}

.primary {
  background: black;
  color: bisque;
}

header {
  padding: 1rem;
  border: 2px solid green;
}
header li,
header a {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
header nav ul div {
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  border-radius: 10px;
  padding: 0.4em;
  cursor: pointer;
  transition: border-bottom 6.3s ease-in-out;
}
header nav ul li:hover {
  border-bottom: 1px solid rgba(255, 0, 0, 0.514);
}
header nav ul li span {
  font-size: larger;
  border: none;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.hero div {
  width: 100%;
}
.hero div:nth-child(2) {
  flex: 2;
  background: linear-gradient(60deg, rgba(0, 128, 0, 0.123), rgba(255, 192, 203, 0), rgba(0, 0, 255, 0.151));
}
.hero .content {
  padding: 2rem;
  text-align: center;
}

main.home {
  padding: 10px;
  max-width: 90%;
  margin: 1.5rem auto;
}
main.home .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
main.home .blogs div {
  padding: 0.5rem;
}
main.home .blogs .details {
  border: 2px solid pink;
  display: grid;
  grid-template-rows: 1fr 100px repeat(4, 0.1fr);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.blogs__container div {
  padding: 0.5rem;
}
.blogs__container article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.blogs__container .details {
  border: 2px solid pink;
  display: grid;
  grid-template-rows: 300px 100px repeat(4, 50px);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.blogs__container .details div {
  display: flex;
  justify-content: flex-start;
  align-self: baseline;
  height: 100%;
}