<footer>
  <div>
    <a href="/">
      <span>Buike</span>
    </a>
    <p>
      Copyright &copy; <%= new Date().getFullYear() %>

      <a
        href="https://twitter.com/spinkq"
        target="_blank"
        rel="noopener noreferrer"
      >
        — OGUBUIKE EMEJURU
      </a>
      All Rights Reserved
    </p>
  </div>
</footer>
