<a href="/">
  <button>Home</button>
</a>

<a href="/api/v1/blog/posts">
  <button>All Blogs</button>
</a>
<a href="/api/v1/blog/create">
  <button>Create Blog Post</button>
</a>

<a href="/api/v1/user/profile/<%= user._id %>">
  <button>Profile</button>
</a>
<a href="/api/v1/user/logout">
  <button>Logout</button>
</a>
