<ul>
  <li class="action">
    <a href="/api/v1/blog/create"> CREATE NEW POST </a>
  </li>
  <li class="action">
    <a href="/api/v1/user/profile/<%= user._id %>"> PROFILE </a>
  </li>
  <li class="action primary">
    <a href="/api/v1/user/logout"> LOGOUT </a>
  </li>
</ul>
