<a href="/" class="mr-5 hover:text-white">
  <button
    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
  >
    Home
  </button>
</a>

<a href="/api/v1/blog/posts" class="mr-5 hover:text-white">
  <button
    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
  >
    All Blogs
  </button>
</a>
<a href="/api/v1/blog/create" class="mr-5 hover:text-white">
  <button
    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
  >
    Create Blog Post
  </button>
</a>

<a href="/api/v1/user/profile/<%= user._id %>" class="mr-5 hover:text-white">
  <button
    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
  >
    Profile
  </button>
</a>
<a href="/api/v1/user/logout" class="mr-5 hover:text-white">
  <button
    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
  >
    Logout
  </button>
</a>
