<a href="/">
  <button>Home</button>
</a>

<a href="/api/v1/blog/posts">
  <button>All Blogs</button>
</a>

<a href="/api/v1/auth/login">
  <button>Login</button>
</a>

<a href="/api/v1/auth/signup">
  <button>Sign Up</button>
</a>
