<header class="nav__header">
  <nav>
    <ul>
      <div class="nav-logo">
        <a href="/">
          <span>GUBI</span>
        </a>
      </div>

      <div class="nav-constant">
        <a href="/">
          <li>HOME</li>
        </a>
        <a href="/api/v1/blog/posts">
          <li>BLOGS</li>
        </a>
      </div>
      <div class="nav-action">
        <% if (locals.user) { %>

        <a href="/api/v1/blog/create" class="action">
          <li>CREATE POST</li>
        </a>
        <a href="/api/v1/user/profile/<%= user._id %>" class="action">
          <li>PROFILE</li>
        </a>
        <a href="/api/v1/user/logout" class="action primary">
          <li>Logout</li>
        </a>

        <% } else { %>

        <a href="/api/v1/auth/login" class="action">
          <li>LOGIN</li>
        </a>
        <a href="/api/v1/auth/signup" class="action primary">
          <li>SIGN UP</li>
        </a>

        <% } %>
      </div>

      <div class="hamburger">
        <li>MENU</li>
      </div>
    </ul>
  </nav>
</header>
