<header>
  <div>
    <nav>
      <a href="/">
        <span>Buike</span>
      </a>
      <% if (locals.user) { %> <%- include("./isLoggedIn.ejs") %> <% } else { %>
      <%- include("./isLoggedOut.ejs") %> <% } %>
    </nav>
  </div>
</header>
