<header class="nav__header">
  <nav>
    <ul>
      <div class="nav-logo">
        <a href="/">
          <span>GUBI</span>
        </a>
      </div>

      <div class="nav-constant">
        <li>
          <a href="/"> HOME </a>
        </li>
        <li>
          <a href="/api/v1/blog/posts"> BLOGS </a>
        </li>
      </div>
      <div class="nav-action">
        <% if (locals.user) { %>
        <li class="action">
          <a href="/api/v1/blog/create"> CREATE POST </a>
        </li>
        <li class="action">
          <a href="/api/v1/user/profile/<%= user._id %>"> PROFILE </a>
        </li>
        <li class="action primary">
          <a href="/api/v1/user/logout"> Logout </a>
        </li>

        <% } else { %>

        <li class="action">
          <a href="/api/v1/auth/login"> LOGIN </a>
        </li>
        <li class="action primary">
          <a href="/api/v1/auth/signup"> SIGN UP </a>
        </li>
        <% } %>
      </div>

      <div class="hamburger">
        <li>MENU</li>
      </div>
    </ul>
  </nav>
</header>
