<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/navbar.ejs") %>

    <section>
      <div>
        <div>
          <h1>Welcome to my Sports and Web Development Technology Blog!</h1>

          <p>
            Join the community of sports and web development technology
            enthusiasts and stay updated on the latest news, trends, and
            insights.
          </p>
        </div>

        <div>
          <form>
            <h2>Sign Up</h2>
            <div>
              <label for="full-name">First Name</label>
              <input
                autocomplete
                type="text"
                name="firstname"
                required
                type="text"
                id="firstname"
              />
            </div>
            <div>
              <label for="full-name">Last Name</label>
              <input autocomplete type="text" name="lastname" required />
            </div>
            <div>
              <label for="nickname">Nickname</label>
              <input autocomplete type="text" id="nickname" name="nickname" />
            </div>
            <div>
              <label for="profession">Profession</label>
              <input
                autocomplete
                type="text"
                id="profession"
                name="profession"
              />
            </div>
            <div>
              <label for="email">Email</label>
              <input autocomplete type="email" id="email" name="email" />
            </div>
            <div>
              <label for="email">Password</label>
              <input
                autocomplete
                type="password"
                name="password"
                id="password"
                required
              />
            </div>
            <button>Submit</button>
            <p class="gubi-error"></p>
          </form>
        </div>
      </div>
    </section>

    <%- include('../partials/footer'); -%>
    <script src="/js/signup__script.js"></script>
  </body>
</html>
